.header-div {
    height: 80px;
    position: relative;
    overflow: hidden;
    background-color:aqua;
}
.body-div {
    height: 500px;
    position: relative;
    overflow: hidden;
    color:rgb(207, 25, 80);
}
.foot-div {
    height: 20%;
    position: relative;
    overflow: hidden;
    color:rgb(71, 12, 209);
}